{{>layouts/tictactoe-header}}
<div class="container">
    <div class="row g-0 justify-content-center custom-row bg-primary">
        <div class="col fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">
            </div>
        </div>
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-center custom-row bg-primary">
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
    </div>
    <div class="row g-0 justify-content-center custom-row bg-primary">
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
        <div class="col
            fixed-col">
            <div class="cell bg-secondary-subtle d-flex
            justify-content-center align-items-center border border-dark">

            </div>
        </div>
    </div>
</div>
<script src="/js/tictactoe.js"></script>
{{>layouts/footer}}